In [76]:
import pandas as pd
import matplotlib as plt

bom_df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
bom_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [3]:
bom_df.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [68]:
bom_df['foreign_gross'].values

array(['652000000', '691300000', '664300000', ..., nan, nan, nan],
      dtype=object)

In [7]:
bom_df.dropna(subset=['domestic_gross'], inplace=True)

In [8]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3359 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3359 non-null   object
 1   studio          3356 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2009 non-null   object
 4   year            3359 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 157.5+ KB

In [9]:
bom_no_foreign = bom_df[bom_df['foreign_gross'].isna()]
bom_no_foreign

,title,studio,domestic_gross,foreign_gross,year
222,Flipped,WB,1800000.0,NaN,2010
254,The Polar Express (IMAX re-issue 2010),WB,673000.0,NaN,2010
267,Tiny Furniture,IFC,392000.0,NaN,2010
269,Grease (Sing-a-Long re-issue),Par.,366000.0,NaN,2010
280,Last Train Home,Zeit.,288000.0,NaN,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [60]:
bom_no_foreign = bom_no_foreign.sort_values(by='domestic_gross', ascending=False)
bom_no_foreign.head(20)

                          title   studio  domestic_gross foreign_gross  year
3160                  Book Club     Par.      68600000.0           NaN  2018
1955                   War Room     TriS      67800000.0           NaN  2015
2864             All Eyez on Me     LG/S      44900000.0           NaN  2017
833             Red Dawn (2012)       FD      44800000.0           NaN  2012
2866             47 Meters Down    ENTMP      44300000.0           NaN  2017
1245                     Snitch     LG/S      42900000.0           NaN  2013
458                  Courageous     TriS      34500000.0           NaN  2011
3187          Death Wish (2018)      MGM      34000000.0           NaN  2018
2876                 Wind River    Wein.      33800000.0           NaN  2017
2878              Kidnap (2017)   Aviron      31000000.0           NaN  2017
1604  When the Game Stands Tall     TriS      30100000.0           NaN  2014
2880                   Hostiles    ENTMP      29800000.0           NaN  2017
2882                 Home Again      ORF      27000000.0           NaN  2017
3196                 Winchester      LGF      25100000.0           NaN  2018
473           Our Idiot Brother    Wein.      24800000.0           NaN  2011
3198   Strangers: Prey at Night   Aviron      24600000.0           NaN  2018
2464      Whiskey Tango Foxtrot     Par.      23100000.0           NaN  2016
2014             Black or White    Rela.      21600000.0           NaN  2015
2470                      Keanu  WB (NL)      20600000.0           NaN  2016
2896          The Circle (2017)      STX      20500000.0           NaN  2017

In [10]:
bom_df.describe()

       domestic_gross         year
count    3.359000e+03  3359.000000
mean     2.874585e+07  2013.968145
std      6.698250e+07     2.479432
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [13]:
bom_dropped = bom_df.dropna()
bom_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2007 entries, 0 to 3353
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2007 non-null   object
 1   studio          2007 non-null   object
 2   domestic_gross  2007 non-null   float64
 3   foreign_gross   2007 non-null   object
 4   year            2007 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.1+ KB

In [23]:
bom_dropped['foreign_gross'] = bom_dropped['foreign_gross'].apply(lambda x: float(x.split()[0].replace(',', '')))
bom_dropped['foreign_gross'] = bom_dropped['foreign_gross'].astype(float)
bom_dropped.head()

<ipython-input-23-1848f3b45415>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_dropped['foreign_gross'] = bom_dropped['foreign_gross'].apply(lambda x: float(x.split()[0].replace(',', '')))
<ipython-input-23-1848f3b45415>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_dropped['foreign_gross'] = bom_dropped['foreign_gross'].astype(float)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010

In [25]:
bom_dropped['total_gross_millions'] = (bom_dropped['domestic_gross'] + bom_dropped['foreign_gross'])/1000000
bom_dropped.head()

<ipython-input-25-c986a0d7bb76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_dropped['total_gross_millions'] = (bom_dropped['domestic_gross'] + bom_dropped['foreign_gross'])/1000000

,title,studio,domestic_gross,foreign_gross,year,total_gross,total_gross_millions
0,Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09,1067.0
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010,1.025500e+09,1025.5
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010,9.603000e+08,960.3
3,Inception,WB,292600000.0,535700000.0,2010,8.283000e+08,828.3
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,7.526000e+08,752.6

In [26]:
bom_dropped['total_gross_millions'].describe()

count    2007.000000
mean      122.810225
std       207.556220
min         0.004900
25%         8.239000
50%        42.400000
75%       133.750000
max      1518.900000
Name: total_gross_millions, dtype: float64

In [69]:
bom_dropped.max()

title                   xXx: The Return of Xander Cage
studio                                           Zeit.
domestic_gross                               9.367e+08
foreign_gross                                9.605e+08
year                                              2018
total_gross                                 1.5189e+09
total_gross_millions                            1518.9
dtype: object

In [71]:
bom_dropped = bom_dropped.sort_values(by='total_gross_millions', ascending=False)
bom_dropped.head(20)

,title,studio,domestic_gross,foreign_gross,year,total_gross,total_gross_millions
727,Marvel's The Avengers,BV,623400000.0,895500000.0,2012,1.518900e+09,1518.9
1875,Avengers: Age of Ultron,BV,459000000.0,946400000.0,2015,1.405400e+09,1405.4
3080,Black Panther,BV,700100000.0,646900000.0,2018,1.347000e+09,1347.0
328,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000.0,2011,1.341500e+09,1341.5
2758,Star Wars: The Last Jedi,BV,620200000.0,712400000.0,2017,1.332600e+09,1332.6
3081,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000.0,2018,1.309500e+09,1309.5
1127,Frozen,BV,400700000.0,875700000.0,2013,1.276400e+09,1276.4
2759,Beauty and the Beast (2017),BV,504000000.0,759500000.0,2017,1.263500e+09,1263.5
3082,Incredibles 2,BV,608600000.0,634200000.0,2018,1.242800e+09,1242.8
1128,Iron Man 3,BV,409000000.0,805800000.0,2013,1.214800e+09,1214.8
1876,Minions,Uni.,336000000.0,823400000.0,2015,1.159400e+09,1159.4
2322,Captain America: Civil War,BV,408100000.0,745200000.0,2016,1.153300e+09,1153.3
3083,Aquaman,WB,335100000.0,812700000.0,2018,1.147800e+09,1147.8
329,Transformers: Dark of the Moon,P/DW,352400000.0,771400000.0,2011,1.123800e+09,1123.8
728,Skyfall,Sony,304400000.0,804200000.0,2012,1.108600e+09,1108.6
1477,Transformers: Age of Extinction,Par.,245400000.0,858600000.0,2014,1.104000e+09,1104.0
729,The Dark Knight Rises,WB,448100000.0,636800000.0,2012,1.084900e+09,1084.9
0,Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09,1067.0
2323,Rogue One: A Star Wars Story,BV,532200000.0,523900000.0,2016,1.056100e+09,1056.1
330,Pirates of the Caribbean: On Stranger Tides,BV,241100000.0,804600000.0,2011,1.045700e+09,1045.7

In [61]:
bom_dom_greater = bom_dropped[bom_dropped['domestic_gross'] > bom_dropped['foreign_gross']]
bom_dom_greater.head(20)

,title,studio,domestic_gross,foreign_gross,year,total_gross,total_gross_millions
3080,Black Panther,BV,700100000.0,646900000.0,2018,1.347000e+09,1347.000000
2323,Rogue One: A Star Wars Story,BV,532200000.0,523900000.0,2016,1.056100e+09,1056.100000
1872,Star Wars: The Force Awakens,BV,936700000.0,1131.6,2015,9.367011e+08,936.701132
2767,Wonder Woman,WB,412600000.0,409300000.0,2017,8.219000e+08,821.900000
735,The Hunger Games,LGF,408000000.0,286400000.0,2012,6.944000e+08,694.400000
3079,Avengers: Infinity War,BV,678800000.0,1369.5,2018,6.788014e+08,678.801369
1873,Jurassic World,Uni.,652300000.0,1019.4,2015,6.523010e+08,652.301019
6,Iron Man 2,Par.,312400000.0,311500000.0,2010,6.239000e+08,623.900000
1489,American Sniper,WB,350100000.0,197300000.0,2014,5.474000e+08,547.400000
3096,Dr. Seuss' The Grinch (2018),Uni.,270600000.0,241000000.0,2018,5.116000e+08,511.600000
1493,The LEGO Movie,WB,257800000.0,211400000.0,2014,4.692000e+08,469.200000
3101,Solo: A Star Wars Story,BV,213800000.0,179200000.0,2018,3.930000e+08,393.000000
3102,Spider-Man: Into The Spider-Verse,Sony,190200000.0,185300000.0,2018,3.755000e+08,375.500000
1874,Furious 7,Uni.,353000000.0,1163.0,2015,3.530012e+08,353.001163
748,Dr. Seuss' The Lorax,Uni.,214000000.0,134800000.0,2012,3.488000e+08,348.800000
3108,A Quiet Place,Par.,188000000.0,152900000.0,2018,3.409000e+08,340.900000
1502,22 Jump Street,Sony,191700000.0,139600000.0,2014,3.313000e+08,331.300000
1894,The SpongeBob Movie: Sponge Out of Water,Par.,163000000.0,162200000.0,2015,3.252000e+08,325.200000
2788,The LEGO Batman Movie,WB,175800000.0,136200000.0,2017,3.120000e+08,312.000000
1504,Divergent,LG/S,150900000.0,137900000.0,2014,2.888000e+08,288.800000

In [74]:
for_gross_errors = bom_dropped[(bom_dropped['foreign_gross'] < 10000) & (bom_dropped['domestic_gross'] > 1000000)]

KeyError: "None of [Index([                                                                           ('t', 'i', 't', 'l', 'e'),\n                                                                             ('s', 't', 'u', 'd', 'i', 'o'),\n                                     ('d', 'o', 'm', 'e', 's', 't', 'i', 'c', '_', 'g', 'r', 'o', 's', 's'),\n                                          ('f', 'o', 'r', 'e', 'i', 'g', 'n', '_', 'g', 'r', 'o', 's', 's'),\n                                                                                       ('y', 'e', 'a', 'r'),\n                                                    ('t', 'o', 't', 'a', 'l', '_', 'g', 'r', 'o', 's', 's'),\n       ('t', 'o', 't', 'a', 'l', '_', 'g', 'r', 'o', 's', 's', '_', 'm', 'i', 'l', 'l', 'i', 'o', 'n', 's')],\n      dtype='object')] are in the [index]"

Notes:
-Foreign gross messed up in general (ex: Force Awakens has foreign gross around 1K when it should be around 1 mil
-Franchises are big